.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.btn-clear {
  border: none;
  outline: none;
  background-color: transparent;
  color: blue;
  cursor: pointer;
  margin: 0 10px;
}

.title {
  display: flex;
  gap: 20px;
  margin: 0 0 10px 0;
}

.title-gender {
  display: flex;
  background-color: rgb(225, 233, 241);
  padding: 15px 20px;
  cursor: pointer;
}

.details-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fullname {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 13px;
}